<%= render 'layouts/header' %>  
<section class="landing">
	<div class="center">
	 
	  	<h1><%= link_to "growBig", signup_path, class: "header" %></h1>
	  	<h2></h2>

	<div data-magellan-expedition="fixed">
	<!--     <dd data-magellan-arrival="build"><a href="#build"></a></dd>
	 --><dd data-magellan-arrival="js">	  
		    	<%= link_to "Businesses", business_path, class: "navbar-btn link" %>
				<%= link_to "Schools", school_path, class: "navbar-btn link", id: "middle" %>
				<%= link_to "Individuals", individual_path, class: "navbar-btn link" %>	
		</dd>
	</div>

<!-- 		<div class="contain-to-grid sticky">
		  <nav class="" data-topbar role="navigation" data-options="sticky_on: large">
	    	<%= link_to "Businesses", business_path, class: "navbar-btn" %>
			<%= link_to "Schools", school_path, class: "navbar-btn" %>
			<%= link_to "Individuals", individual_path, class: "navbar-btn" %>			    
		  </nav>
		</div> -->
		   
	</div>
	
	<div class="container">
		<div class="row">	
			<div class="large-12 columns">
				<h3> 
					  A framework of specific challenges and interactive personal inquiries designed to foster essential leadership skills.
				</h3>
			</div>
		</div>
	</div>
</section>



</div>
	<div class="container">
		<div class="row">	
			<div class="col-sm-6 col-sm-offset-3 center">
				<h3>Character &amp Values Forum</h3>
					<p> Our main product is a highly customized series of workshops designed to foster excellent leadership. The workshop addresses specific needs by building the essential characteristics shared among great leaders. Unique challenges and inquires develop the individual and group <i>at the same time</i>, which then influence the broader culture of the school or organization at large. Completed in half-day, full-day or 3 month engagements the results are proven and the advocates vocal.</p> 
			</div>
		</div>
		<div class="container">
		<div class="row">	
			<div class="col-sm-5 center">
				<h3>Speaking</h3>
					<p>Since launching the business, Redwood’s team of leaders has helped people live more meaningful and fulfilled lives. Drawing on their comprehensive research and first-hand insight, they share Redwood’s collection of tools and relate stories and ideas that are sometimes hilarious, sometimes poignant, and always original. Ask one of our leaders to speak at your next conference, off-site or assembly. </p> 
			</div>
			<div class="col-sm-5 col-sm-offset-1 center">
				<h3>1-on-1 Mentoring &amp Coaching</h3>
							<p>Working directly with Managing Director Scott Malcolm is an effective and intensive experience. Meeting the individual at whatever point they may be, Redwood’s unique tools and challenges are deployed to drastically and measurably improve fulfillment, performance and personal relationships. Goals are laid out, challenges made and action taken. Conducted over 6 or 12 one-hour sessions.</p> 
			</div>			
		</div>		
	</div>

	<section class="separator">
		<div class="heroOverlayer">
			<h2>Proven concepts.<br>Expert facilitation. <br>Practical Application. </h2>
		</div>
	</section>

<a name="arrival"></a>
<h3 data-magellan-destination="arrival">Arrival</h3>

<a name="destination"></a>
<h3 data-magellan-destination="destination">Destination</h3>

	<div class="container">
		<div class="row">
			<h2 class="center">Project Benefits</h2>
				<div class="col-sm-6">
					<h4>Awareness</h4>
					<p>Effective prioritization and consistent progress comes from a clear understanding of what matters to you. Redwood creates an opportunity to precisely articulate your priorities as well as the decisions required to bring them to life.</p>
				</div>
				<div class="col-sm-6">
					<h4>Connection</h4>
					<p>Renew your commitment to manage and improve relationships – especially the important or difficult ones. Whether it is nuanced inter-personal relationships with co-workers, or the all-encompassing parent-child team, your Redwood relationship work involves assessment, action and improvement. Teams will be united by championing common goals and building mutual understanding.</p>
				</div>	
		</div>

		<div class="row">
				<div class="col-sm-6">
					<h4>Accountability</h4>
					<p>Redwood will push you to make choices that hold yourself to a higher standard. You will become accountable to the priorities you have announced. Redwood will create a community of people who will champion your accomplishments, and hold you responsible to your commitments.</p>
				</div>
				<div class="col-sm-6">
					<h4>Resiliency</h4>
					<p>Not only is it impossible to live a life without setbacks frustration and failure, we wouldn’t want it anyway. Redwood provides tools for you to rebound quickly from setbacks by managing the internal dialogues that play in your head.</p>
				</div>	
		</div>	

		<div class="row">
				<div class="col-sm-6">
					<h4>Fulfillment</h4>
					<p>By aligning your values with your actions, you take control of your life with simple but rigorous strategies. This allows you to take ownership of what matters to you and open a world of options.</p>
				</div>
				<div class="col-sm-6">
					<h4>Engagement</h4>
					<p>Once you have articulated the personal elements that define you, a customized plan to deploy these elements in targeted, tactical ways is created. Engagement with your own emotions, goals, family, team and objectives is a direct result of this Action Plan.</p>
				</div>	
		</div>		
	</div>


</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->