

  <footer>            
          <div class="container"> 
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                  <div class="section-header">
                          <h1 class="center">Talk to us</h1>
                  </div>
                <div class="social">  
                  <ul>
                    <li><%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://twitter.com/RedwoodProject'%></li>     
                    <li><%= link_to image_tag("facebook.png", alt: "facebook"), 'https://www.facebook.com/pages/The-Redwood-Project/159162924097944"><i class="icon-facebook'%></li>               
                    <li><%= link_to image_tag("linkedin.png", alt: "LinkedIn"), 'http://ca.linkedin.com/pub/scott-m-malcolm/25/785/1b7'%></li> 
                  </ul>
                </div>  
              </div>
            </div>
          </div>

        <div class="map">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">      
                <ul>
                  <li><%= link_to "Home",   root_path %></li>
                  <li><%= link_to "School",   school_path %></li>
                  <li><%= link_to "Business", contact_path %></li>
                  <li><%= link_to "Individuals",   individual_path %></li>
                </ul>
              </div>
              <div class="col-lg-4">              
                <ul>
                  <li><%= link_to "About",   about_path %></li>
                  <li><%= link_to "Contact", contact_path %></li>
                  <li><a href="http://redwood-project.com/wordpress/">Blog</a></li>
                </ul>
              </div>   

            </div>        
        </div>
      </div>
  </footer>