<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">

    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "School", school_path %></li>
      <li><%= link_to "Business", business_path %></li>
      <li><%= link_to "Individual", individual_path %></li>
      <li><%= link_to "Blog", blog_path %></li>      
               <% if logged_in? %>
            <li has-dropdown><%= link_to "Users", '#' %></li>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
              </ul>            
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
               <% else %>
            <li><%= link_to "Log in", login_path %></li>
               <% end %>               
           </ul>

    <!-- Left Nav Section -->
  </section>
</nav>






<%= link_to image_tag("redwoodLogo.png", alt: "Redwood Logo"), root_path, id: "logo" %>



 <section class="top-bar-section">
          <ul>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "School", school_path %></li>
            <li><%= link_to "Business", business_path %></li>
            <li><%= link_to "Individual", individual_path %></li>
            <li><%= link_to "Blog", blog_path %></li>

              <% if logged_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
              <% else %>
            <li><%= link_to "Log in", login_path %></li>
              <% end %>       
          </ul>
        </section>
      </nav>
    </div>





